@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/* @import url('http://fonts.cdnfonts.com/css/typold');
@import url('http://fonts.cdnfonts.com/css/typold?styles=21402,21392,21401,21389,21394,21387,21419,21430,21424'); */
:root {  
    --clr-primary:   #FFBD35;
    --clr-secondary: #1A5F7A ;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Typold', sans-serif;
font-family: 'Typold Condensed', sans-serif;
font-family: 'Typold Extended', sans-serif; */
    background: #fff;
    color: #000;
    
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #262626;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    width: 90%;
    max-width: 1100px;
    
  }
  